<div class=" main-content">
  <div class=" header bg-danger py-7 py-lg-8 pt-lg-9">
    <div class=" container">
      <div class=" header-body text-center mb-7">
        <div class=" row justify-content-center">
          <div class=" col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class=" text-white">Bienvenue!</h1>

          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-5 col-md-7">
        <div class=" card bg-secondary border-0 mb-0">

          <div class=" card-body px-lg-5 py-lg-5">
            <form role="form" [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class=" w-100 mb-4 d-flex justify-content-center">
                <img style="width:150px" src="../../assets/logo.png">
                </div>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                    type="email"
                    (focus)="focus = true"
                    (blur)="focus = false"/>

                </div>
                <app-validator-message [control]="loginForm.controls.email" ></app-validator-message>
                <div>
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Mot de Passe"
                    type="password"
                    formControlName="password"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
                <app-validator-message [control]="loginForm.controls.password" ></app-validator-message>
                <div>



                </div>
              </div>
              <div class="text-center ">
                <button class="btn btn-primary">Se Connecter</button>
              </div>

              <div class="text-center ">
                <span *ngIf="Error" class="text-danger"> Mot de Passe ou Email Incorrecte</span>
              </div>

            </form>
          </div>
        </div>

        <!--<div class=" row mt-3">
          <div class=" col-6">
            <a class=" text-danger" [routerLink]="['/passwordRecovery']">
              <small> Mot de Passe oublié? </small>
            </a>

          </div>

          <div class=" col-6 text-right">
            <a [routerLink]="['/register']" class=" text-danger" >
              <small> Créer un nouveau compte
              </small>
            </a>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
