<div class=" header  bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row-reverse  align-items-center justify-content:flex-end py-2">
        <div class=" col-lg-6 col-7 row-reverse ">
          <form class="navbar-search navbar-search-light form-inline mr-sm-3 mt-3" id="navbar-search-main">
            <div class="form-group " [ngClass]="{ focused: focus === true }">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
                  (blur)="focus = false" [(ngModel)]="expertiseSearch" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>

            <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </form>
        </div>

        <!--
          <div class=" col-lg-6 col-6 text-left">
          <h3>Listes des gérants</h3>
        </div>
        -->

        </div>

    </div>
  </div>
</div>

<div class=" container-fluid mt--5">
  <div class=" row">
    <div class=" col">
      <div class=" card ">
        <div class=" card-header border-0 d-flex justify-content-between">
          <h3 class=" mb-0">Listes des Expertises</h3>
          <button class="btn btn-primary" style="float: left;" (click)="openModal('')">Ajouter</button>
        </div>
        <div>

        </div>
        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>
                <th>ID</th>
                <th>Libellée</th>
                <th>Type</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of filtredExpertises">
                <tr>
                 <td>{{ item.idExpertise }}</td>
                 <td> {{ item.libelle }}</td>
                 <td> {{ item.type }}</td>
                 <td><a class="table-action table-action-delete" tooltip="Delete product" placement="top"
                  href="javascript:void(0)">
                  <i class="fas fa-trash text-danger " (click)="delete(item.idExpertise)">
                  </i>
                  </a>
                  <a class="table-action table-action-delete" tooltip="Delete product" placement="top"
                    href="javascript:void(0)"  (click)="openModal(item.idExpertise)">
                    <i class="fas fa-edit text-info">
                    </i>
                  </a></td>
                </tr>


            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <nav aria-label="...">

        </nav>
      </div>

    </div>
  </div>
</div>
