<div class=" header  bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row-reverse  align-items-center justify-content:flex-end py-2">
        <div class=" col-lg-6 col-7 row-reverse ">

        </div>


        <!--
          <div class=" col-lg-6 col-6 text-left">
          <h3>Listes des gérants</h3>
        </div>
        -->
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--5">
  <div class=" row">
    <div class=" col">
      <div class=" card ">
        <div class=" card-header border-0">
          <h3 class=" mb-0">Les images Des banners</h3>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">
          </label>

          <div class="col-sm-9">
              <span class="btn btn-default btn-file">
                  <input id="input-2" name="input2[]"  (change)="uploadPhotos($event)" type="file" class="file"  data-show-upload="true" data-show-caption="true">
              </span>
              <span><input type="button" value="Envoyer" class="btn btn-primary" (click)="submit()" [disabled]="photo.length === 5"> </span>
          </div>


      </div>

      </div>
      <div class=" card ">
        <div class=" card-header border-0">
          <h3 class=" mb-0">Les images Des banners</h3>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">
          </label>

          <div class=" table-responsive">
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
                <tr>
                  <th>Images </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of photo">
              <tr>
                <td><img [src]="item.imageUrl" style="width: 50px;"></td>

              <td>
                <a class="table-action table-action-delete" tooltip="Delete product" placement="top"
                href="javascript:void(0)">
                <i class="fas fa-trash text-danger " (click)="delete(item.idBaniere)">
                </i></a>
              </td>
            </tr>

              </tbody>
            </table>
          </div>


      </div>

      </div>

    </div>
  </div>
</div>
